<div class="modal-dialog modal-dialog-centered" role="book">
  <div class="modal-content">
    <div class="modal-body">
      <p class="lead text-center">We are preparing your book. This will take some time.</p>
      <div id="conversion-progress-bar" class="progress" data-last-uploaded-book-id="<%= book_id %>"></div>
      <p id="converted-page-number" class="ml-2" data-last-uploaded-book-id="<%= book_id %>"><span class="text-primary font-weight-bold">Status:</span> Preparing book</p>
      <div id="alert-message">
        <p>If you need to come back later, your book can be found in the drafts section <a href="/books/<%= book_id %>" target="_blank" class="text-primary font-weight-bold">here</a>.</p>
      </div>
    </div>

  </div>
</div>
