.link-page-wrapper {
    display: flex;
    justify-content: center;
    background: #F0F0F0;
}

.link-page {
    max-width: 1120px;
    width: 100%;
    margin: 16px 0;
    padding: 16px;
    background: #fff;
    border-radius: 8px;


    .link-list {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
}

.card {
    padding: 16px;
    background: #d1001f9f;
    border-radius: 8px;
    font-size: 18px;
    color: #fff;
    transition: all 300ms;

    a {
        color: #fff;
        text-decoration: none;
        font-weight: 700;
        font-size: 24px;

        &:hover {
            color: #fff;
        }
    }
}

.card:hover {
    background: #d1001f;
    color: #fff;

    a {
        color: #fff;
        text-decoration: none;
        font-weight: 700;
        font-size: 24px;

        &:hover {
            color: #fff;
        }
    }

}