// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.profile-page {
    display: flex;
    justify-content: center;
    padding: 16px;
}

.profile-container {
    background-color: rgb(255, 255, 255);
    max-width: 1120px;
    flex-direction: column;
    align-items: center;
}

.infor-profile {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.submit-btn {
    text-transform: uppercase;
    outline: 0;
    background: #be273e;
    width: 100%;
    border: 0;
    padding: 6px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 16px;
}

.submit-btn:hover,
.submit-btn:active,
.submit-btn:focus {
    background: #be273e;
}