<div class="footer-wrapper">
  <footer class="footer-distributed">
    <div class="footer-content">
      <div class="footer-left">
        <div class="logo">
          LOGO
        </div>
        <p class="footer-links">
          <%= link_to "Home", root_path %>
          <a href="#">About</a>
        </p>
        <p class="footer-company-name">2022</p>
      </div>
      <div class="footer-center">
        <div>
          <a href="http://maps.google.com/?q=Khu đất T02, khu dân cư số 2, Phường Xương Giang, Thành phố Bắc Giang" target="blank">
            <i class="fa fa-map-marker"></i>
          </a>
          <p><a href="http://maps.google.com/?q=Khu đất T02, khu dân cư số 2, Phường Xương Giang, Thành phố Bắc Giang" target="blank">
              <span>Khu đất T02, khu dân cư số 2</span> Phường Xương Giang, Thành phố Bắc Giang
            </a></p>
        </div>
        <div>
          <a href="tel:1900 1001"><i class="fa fa-phone"></i></a>
          <p><a href="tel:1900 1001">1900 1001</a></p>
        </div>
        <div>
          <a href="mailto:thcslqdbg@bacgiang.edu.vn"><i class="fa fa-envelope"></i></a>
          <p><a href="mailto:thcslqdbg@bacgiang.edu.vn">thcslqdbg@bacgiang.edu.vn</a></p>
        </div>
      </div>
      <div class="footer-right">
        <p class="footer-company-about">
          <span>Về chúng tôi</span>
          TRƯỜNG THCS LÊ QUÝ ĐÔN
        </p>
        <div class="footer-icons">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </footer>
</div>
