<footer class="footer-distributed">
	<div class="footer-content">
		<div class="footer-left">
			<div class="logo">
				LOGO
			</div>
			<p class="footer-links">
                <%= link_to "Home", root_path %>
				<a href="#">About</a>
			</p>
			<p class="footer-company-name">2022</p>
		</div>
		<div class="footer-center">
			<div>
				<a href="http://maps.google.com/?q=Số 1 Đại Cồ Việt, Hai Bà Trưng, Hà Nội." target="blank">
					<i class="fa fa-map-marker"></i>
				</a>
				<p><a href="http://maps.google.com/?q=Số 1 Đại Cồ Việt, Hai Bà Trưng, Hà Nội." target="blank">
					<span>Số 1 Đại Cồ Việt</span> Hai Bà Trưng, Hà Nội
				</a></p>
			</div>
			<div>
				<a href="tel:1900 1001"><i class="fa fa-phone"></i></a>
				<p><a href="tel:1900 1001">1900 1001</a></p>
			</div>
			<div>
				<a href="mailto:info@gmail.com"><i class="fa fa-envelope"></i></a>
				<p><a href="mailto:info@gmail.com">info@gmail.com</a></p>
			</div>
		</div>
		<div class="footer-right">
			<p class="footer-company-about">
				<span>Về chúng tôi</span>
				Thư viện hàng đầu Việt Nam
			</p>
			<div class="footer-icons">
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-instagram"></i></a>
			</div>
		</div>
	</div>
</footer>