<header>
    <h1>Sticky Header Pow!</h1>
    <%= link_to "sample app", root_path, id: "logo" %>
    <nav>
      <div><%= link_to "Home" %></div>
      <% if logged_in? %>
        <div><%= link_to "Users", "#" %></div>
      <% else %>
        <div><%= link_to "Log in", login_path %></div>
      <% end %>
    </nav>
  </header>
</body>